.main{
  display:inline-flex;
  padding: 2rem;
  
}
.container{
  width: 13rem;
  background-color: aqua;
  border-radius: 10px;
  overflow: hidden;
}
.sub{
  background-color: grey;
  border-radius: 10px;
}
sub{
  padding: 2rem;
}
